//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout

block net_content
  .row
    .col-sm-12
      p
        b Current MTU:
        |  #{network.mtu}

  .row
    .col-sm-12
      p MTU for ZeroTier frames (default: 2800).

  form(method='POST' action='')
    .form-group.row
      .col-sm-12
        label(for='mtu') MTU:
      .col-sm-12
        input#mtu.form-control(type='number' name='mtu' min='1280' max='10000' step='1' value=(network.mtu || 2800))

    .form-group.row
      .col-sm-12
        button.btn.btn-primary(type='submit') Submit
        = ' '
        a.btn.btn-default(href=('/controller/network/' + network.nwid) name='cancel' role='button') Cancel

  if errors
    .row
      .col-sm-12
        ul
          for err in errors
            li!= err.msg
