//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout

block net_content
  .row
    .col-sm-12
      p
        b Current multicast limit:
        |  #{network.multicastLimit}

  .row
    .col-sm-12
      p Max multicast/broadcast recipients per packet. 0 disables multicast.

  form(method='POST' action='')
    .form-group.row
      .col-sm-12
        label(for='multicastLimit') Multicast Limit:
      .col-sm-12
        input#multicastLimit.form-control(type='number' name='multicastLimit' min='0' max='1024' step='1' value=(network.multicastLimit !== undefined ? network.multicastLimit : 32))

    .form-group.row
      .col-sm-12
        button.btn.btn-primary(type='submit') Submit
        = ' '
        a.btn.btn-default(href=('/controller/network/' + network.nwid) name='cancel' role='button') Cancel

  if errors
    .row
      .col-sm-12
        ul
          for err in errors
            li!= err.msg
